<div id="map" data-points='<%= @geojson %>'></div>

<div id='info'>
  <div class="site-descript">
    <hr>
    <h3>Welcome to Trekkr!</h3>
    <hr>
    <h5>
      Take a virtual hike on the Pacific Crest Trail by exploring
      Instagram photos geo-tagged along the trail.
    </h5>
     <p>
      The PCT is over 2,500 miles long, from the US-Mexico border to Canada. Hikers along it experience the searing heat of the Mojave Desert, the heights of the Sierra Nevada, and the forests of the Pacific Northwest.
     </p>
     <p>
      Approximately 200 people hike the full trail every year, which can take 6 months to complete.
    </p>
    <br>
    <br>
    <h5>Start your trek -- click a point on the map!</h5>
  </div>
</div>


