<div class="map">
  Map Goes Here
</div>

<hr>

<h1>Listing photos</h1>

<% @photos.each do |photo| %>
  URL <%= photo.url %>
  <%= image_tag(photo.url, class:'img') %> <br />
  Location <%= photo.location %> 
  <%= link_to 'Show', photo %>
<% end %>


<br />
