<div id="map" data-points='<%= @geojson %>'></div>






  
  <script type='text/javascript'>

  // sets up the map base
  var map = L.mapbox.map('map', 'examples.map-y7l23tes');
 
  // The GeoJSON representing the point features
  var geoJson = $('#map').data('points');
  
  // Adds the layer of points to the map
  var markerLayer = L.mapbox.markerLayer(geoJson)

  

  markerLayer.addTo(map);
  
  map.setView([38.9, -104.87], 7);
  </script>
