<div id="map" data-points='<%= @geojson %>'></div>

<div id='info'>
  <div class="site-descript">
    <h3>Welcome to Trekkr!</h3>
    <p>
      Take a virtual hike on the Pacific Crest Trail by exploring
      Instagram photos geo-tagged along the trail.
    </p>
    <br>
    <br>
    <p>
      Get started by clicking on a point on the map!
    </p>
  </div>
</div>


