<!DOCTYPE html>
<html>
<head>
  <title>Trekkr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class='navbar navbar-fixed-top'>
    <nav class='navbar-inner'>
      <div class='container'>
        <a class="brand" href="/">Trekkr</a>
        <p>Take a Virtual Hike on the Pacific Crest Trail via Instagram Photos</p>
        <div class="details">
        <a href="http://linkedin.com/in/lauramsteadman">Developed by Laura Steadman</a>
        <a href="http://github.com/thesteady/trekkr">View the Source Code on GitHub</a>
        </div>
      </div>
    </nav>
  </header>
  
  <div class='content'>
    <%= yield %>
  </div>

</body>
</html>
