<!DOCTYPE html>
<html>
<head>
  <title>Trekkr</title>
  <%= stylesheet_link_tag    "application", 'http://api.tiles.mapbox.com/mapbox.js/v1.0.0/mapbox.css', :media => "all" %>
  <%= javascript_include_tag "application", 'http://api.tiles.mapbox.com/mapbox.js/v1.0.0/mapbox.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class='navbar navbar-fixed-top'>
    <nav class='navbar-inner'>
      <div class='container'>
        <a class="brand" href="#">Trekkr</a>
      </div>
    </nav>
  </header>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
